body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
label{
    margin: 0 150px 100px 0;
}
input{
    font-size: 20px;
}
.btn{
    font-size: 30px;
    width: 120px;
    background-color: rgb(90, 206, 22);
    border-radius: .5em;
}
.login{
    width: 400px;
    border: ridge;
    text-align: center;
    margin: 30px 0 0 470px;
}
@media screen and (max-width: 1100px) {
    .login {
      margin: 30px 0 0 370px;
    }
  }
@media screen and (max-width: 930px) {
    .login {
      margin: 30px 0 0 170px;
    }
  }
@media screen and (max-width: 610px) {
    .login {
      margin: 30px 0 0 40px;
    }
  }