body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn{
    font-size: 30px;
    margin: 40px 100px 10px;
    color: rgb(218, 45, 45);
}

div{
    margin: 40px 100px 10px;
    font-size: 30px;
}
.border{
    border-style: dotted double;
    border-color: blueviolet;
    padding:30px;
    width: fit-content;
}