body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.slide-wrapper{
    max-width: 680px;
    display: flex;
    min-height: 100px;
    align-items: center;
}
img{
    width: 70px;
}
.imag>img{
    width: 500px;
}
.content{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
#slider{
    width: 500px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
}
.left{
    float: left;
    cursor: pointer;
    font-size: 100px;
}
.right{
    float: right;
    cursor: pointer;
}