body{
    font-family: Consolas;
}
.all{
    width: 390px;
    margin: 50px 0 0 15%;
    align-content: center;
    text-align: center;
}
#equalto{
    background-color:rgba(247, 186, 95, 0.952);
}
#equalto:hover{
    background-color: rgb(248, 150, 3);
}
.result{
    background-color:lightgray;
    width: 100%;
    height: 55px;
    font-size: 2em;
    text-align: right;
    overflow: auto;
}
.keys{
    font-size: 2em;
    width: 47rem;
    height: 5rem;
    background-color: lightgrey;
}
#clear{
    font-size: 2em;
    align-items: center;
    width: 5rem;
    height: 5rem;
    margin: 0.1em
}
.keys:hover{
    background-color: grey;
    cursor: pointer
}

